---
const { frontmatter } = Astro.props;
import '/styles/normalize.css';
import '/styles/index-temp.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />

		<meta content="width=device-width, initial-scale=1" name="viewport">
		<meta content="Building inclusive digital products. BTW, Elon Musk sucks." name="description"/>

		<link rel="icon" href="/images/icon.svg" type="image/svg+xml" sizes="any">
		<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

		<meta name="generator" content={Astro.generator} />
		<title>{frontmatter.title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap" rel="stylesheet">

	</head>
	
	<body>
		<div class="container">
    		<slot />		
		</div>
	</body>

</html>